@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100%;
}
html,
body {
  user-select: none;
  background-color: #141414;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

@font-face {
  font-family: "jws";
  src: url("./fonts/_H_HelveticaNeueInterface_0.ttf") format("truetype"),
    url("./fonts/_H_HelveticaNeueInterface_1.ttf") format("truetype"),
    url("./fonts/_H_HelveticaNeueInterface_2.ttf") format("truetype"),
    url("./fonts/_H_HelveticaNeueInterface_3.ttf") format("truetype"),
    url("./fonts/_H_HelveticaNeueInterface_4.ttf") format("truetype"),
    url("./fonts/_H_HelveticaNeueInterface.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "TNY";
  src: url("./fonts//SupersetRegular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "TNY";
  src: url("./fonts/Superset\ Italic.ttf") format("truetype");
  font-style: italic;
}

.n1 {
  font-family: "TNY";
  font-style: italic;
}
.n2 {
  font-family: "TNY";
  font-style: normal;
}
.n0 {
  font-family: "jws";
}

p {
  color: rgb(186, 196, 184);
}
.span {
  color: rgb(186, 196, 184);
}

.svg {
  color: rgb(186, 196, 184);
}
.logo {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.swiper {
  width: 100%;
  max-height: 725px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.swiper-slide {
  text-align: center;
}

.background {
  display: block;
  float: right;
  position: relative;
  z-index: 1000;
  width: 100%;
}

/* Pagination */

/* Mousescroll */
.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 4px 9px;
  height: 34px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.5;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(13px);
    opacity: 0;
  }
}
